{
    "extends": "rallycoding",
    "globals": {
      "fetch": false
    },
  "rules": {
    "import/no-unresolved": 0,
    "quotes": [2, "double" ],
    "global-require": 0,
    "react/require-extension": "off",
    "no-shadow": "off"
 }
}